In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns 
sns.set()

In [2]:
raw_data = pd.read_csv('OGORBcsv.csv')

In [69]:
raw_data

,Production Date,Land Class,Land Category,State,County,FIPS Code,Offshore Region,Commodity,Disposition Code,Disposition Description,Volume
0,01/01/2015,Federal,Offshore,NaN,NaN,NaN,Offshore Alaska,Gas (Mcf),1,Sales-Royalty Due-MEASURED,0
1,01/01/2015,Federal,Offshore,NaN,NaN,NaN,Offshore Gulf,Gas (Mcf),1,Sales-Royalty Due-MEASURED,"14,508,756"
2,01/01/2015,Federal,Offshore,NaN,NaN,NaN,Offshore Pacific,Gas (Mcf),1,Sales-Royalty Due-MEASURED,"1,207,520"
3,01/01/2015,Federal,Offshore,NaN,NaN,NaN,Offshore Gulf,Gas (Mcf),4,Sales-Royalty Due-Not Measured,"487,324"
4,01/01/2015,Federal,Offshore,NaN,NaN,NaN,Offshore Pacific,Gas (Mcf),4,Sales-Royalty Due-Not Measured,"114,808"
...,...,...,...,...,...,...,...,...,...,...,...
470825,05/01/2025,Native American,Onshore,NaN,NaN,NaN,NaN,Oil (bbl),62,Vented Gas Well Gas - Royalty Not Due,0
470826,05/01/2025,Native American,Onshore,NaN,NaN,NaN,NaN,Oil (bbl),66,Flared Oil Well Gas - Royalty Due,0
470827,05/01/2025,Native American,Onshore,NaN,NaN,NaN,NaN,Oil (bbl),67,Flared Gas Well Gas - Royalty Due,0
470828,05/01/2025,Native American,Onshore,NaN,NaN,NaN,NaN,Oil (bbl),68,Vented Oil Well Gas - Royalty Due,0
470829,05/01/2025,Native American,Onshore,NaN,NaN,NaN,NaN,Oil (bbl),69,Vented Gas Well Gas - Royalty Due,0

In [4]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 470830 entries, 0 to 470829
Data columns (total 11 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Production Date          470830 non-null  object
 1   Land Class               470830 non-null  object
 2   Land Category            470830 non-null  object
 3   State                    454200 non-null  object
 4   County                   454200 non-null  object
 5   FIPS Code                454200 non-null  float64
 6   Offshore Region          10196 non-null   object
 7   Commodity                470830 non-null  object
 8   Disposition Code         470830 non-null  int64
 9   Disposition Description  470830 non-null  object
 10  Volume                   470830 non-null  object
dtypes: float64(1), int64(1), object(9)
memory usage: 39.5+ MB

In [5]:
raw_data.describe()

           FIPS Code  Disposition Code
count  454200.000000     470830.000000
mean    33246.875359         18.445779
std     16471.270398         14.210678
min      1003.000000          1.000000
25%     22027.000000         10.000000
50%     35045.000000         17.000000
75%     48225.000000         25.000000
max     56045.000000         69.000000

### Cleaning 'Production Date'

In [6]:
df = raw_data.copy()

In [7]:
df[df['Production Date'].isna()]

Empty DataFrame
Columns: [Production Date, Land Class, Land Category, State, County, FIPS Code, Offshore Region, Commodity, Disposition Code, Disposition Description, Volume]
Index: []

In [8]:
df['Production Date'] = pd.to_datetime(df['Production Date'])

In [9]:
df['Production Date'].head()

0   2015-01-01
1   2015-01-01
2   2015-01-01
3   2015-01-01
4   2015-01-01
Name: Production Date, dtype: datetime64[ns]

### Cleaning 'Land Class'

In [10]:
df['Land Class'].unique()

array(['Federal', 'Mixed Exploratory', 'Native American'], dtype=object)

In [11]:
df['Land Class'].value_counts()

Land Class
Federal              434168
Mixed Exploratory     30228
Native American        6434
Name: count, dtype: int64

In [12]:
df['Land Class'].isna().sum()

np.int64(0)

### Cleaning 'Land Category'

In [13]:
df['Land Category'].unique()

array(['Offshore', 'Onshore'], dtype=object)

In [14]:
df['Land Category'].value_counts()

Land Category
Onshore     460634
Offshore     10196
Name: count, dtype: int64

In [15]:
df['Land Category'].isna().sum()

np.int64(0)

### Cleaning 'State'

In [16]:
df_state = df.copy()

In [17]:
df_state['State'].unique()

array([nan, 'AK', 'AL', 'AR', 'CA', 'CO', 'KS', 'KY', 'LA', 'MI', 'MS',
       'MT', 'ND', 'NM', 'NY', 'OH', 'OK', 'PA', 'SD', 'TX', 'UT', 'VA',
       'WV', 'WY', 'IL', 'NE', 'NV', 'ID'], dtype=object)

In [18]:
df_state['State'].value_counts()

State
WY    63936
OK    50988
CO    47438
NM    39258
ND    37076
TX    34614
MT    33050
UT    24264
LA    20958
CA    16722
MS    12448
KS    12398
AR    11972
MI     9548
OH     7998
AL     6326
AK     5826
KY     4034
NE     3752
SD     3244
NV     2158
PA     2012
IL     1566
WV     1158
VA      534
NY      486
ID      436
Name: count, dtype: int64

In [19]:
df_state['State'].isna().sum()

np.int64(16630)

In [20]:
TOTAL_ENTRIES = len(df_state)
TOTAL_ENTRIES

470830

In [26]:
df_state.loc[(df_state['Land Category'] == 'Offshore') & (df_state['State'].isna()), 'State'] = 'Offshore'

In [27]:
df_state['State'].unique()

array(['Offshore', 'AK', 'AL', 'AR', 'CA', 'CO', 'KS', 'KY', 'LA', 'MI',
       'MS', 'MT', 'ND', 'NM', 'NY', 'OH', 'OK', 'PA', 'SD', 'TX', 'UT',
       'VA', 'WV', 'WY', 'IL', 'NE', 'NV', nan, 'ID'], dtype=object)

In [28]:
df_state['State'].value_counts()

State
WY          63936
OK          50988
CO          47438
NM          39258
ND          37076
TX          34614
MT          33050
UT          24264
LA          20958
CA          16722
MS          12448
KS          12398
AR          11972
Offshore    10196
MI           9548
OH           7998
AL           6326
AK           5826
KY           4034
NE           3752
SD           3244
NV           2158
PA           2012
IL           1566
WV           1158
VA            534
NY            486
ID            436
Name: count, dtype: int64

In [29]:
df_state['State'].isna().sum()

np.int64(6434)

In [32]:
df_state[df_state['State'].isna()]

,Production Date,Land Class,Land Category,State,County,FIPS Code,Offshore Region,Commodity,Disposition Code,Disposition Description,Volume
3896,2015-01-01,Native American,Onshore,NaN,NaN,NaN,NaN,Gas (Mcf),1,Sales-Royalty Due-MEASURED,"10,872,178"
3897,2015-01-01,Native American,Onshore,NaN,NaN,NaN,NaN,Gas (Mcf),4,Sales-Royalty Due-Not Measured,"25,542"
3898,2015-01-01,Native American,Onshore,NaN,NaN,NaN,NaN,Gas (Mcf),6,Sales-Non-Hydrocarbon Gas,"1,465"
3899,2015-01-01,Native American,Onshore,NaN,NaN,NaN,NaN,Gas (Mcf),7,Condensate Sales-Royalty Due-MEASURED,0
3900,2015-01-01,Native American,Onshore,NaN,NaN,NaN,NaN,Gas (Mcf),8,Spilled and/or Lost-Avoidable-Royalty Due,653
...,...,...,...,...,...,...,...,...,...,...,...
470825,2025-05-01,Native American,Onshore,NaN,NaN,NaN,NaN,Oil (bbl),62,Vented Gas Well Gas - Royalty Not Due,0
470826,2025-05-01,Native American,Onshore,NaN,NaN,NaN,NaN,Oil (bbl),66,Flared Oil Well Gas - Royalty Due,0
470827,2025-05-01,Native American,Onshore,NaN,NaN,NaN,NaN,Oil (bbl),67,Flared Gas Well Gas - Royalty Due,0
470828,2025-05-01,Native American,Onshore,NaN,NaN,NaN,NaN,Oil (bbl),68,Vented Oil Well Gas - Royalty Due,0
470829,2025-05-01,Native American,Onshore,NaN,NaN,NaN,NaN,Oil (bbl),69,Vented Gas Well Gas - Royalty Due,0

In [33]:
df_state['Land Class'].value_counts()

Land Class
Federal              434168
Mixed Exploratory     30228
Native American        6434
Name: count, dtype: int64

In [34]:
df_state.loc[(df_state['Land Class'] == 'Native American') & (df_state['State'].isna()), 'State'] = 'Native American'

In [36]:
df_state['State'].isna().sum()

np.int64(0)

### Cleaning 'County'

In [37]:
df_county = df_state.copy()

In [39]:
df_county['County'].unique()

array([nan, 'Kenai (Post)', 'Tyonek', 'Tuscaloosa', 'Cleburne', 'Conway',
       'Crawford', 'Faulkner', 'Franklin', 'Johnson', 'Logan', 'Pope',
       'Sebastian', 'Sharp', 'Van Buren', 'White', 'Yell', 'Contra Costa',
       'Glenn', 'Kern', 'Los Angeles', 'Sacramento', 'San Joaquin',
       'Santa Barbara', 'Solano', 'Ventura', 'Archuleta', 'Baca', 'Bent',
       'Broomfield', 'Cheyenne', 'Delta', 'Dolores', 'Garfield',
       'Gunnison', 'Huerfano', 'Kiowa', 'La Plata', 'Las Animas', 'Mesa',
       'Moffat', 'Montezuma', 'Phillips', 'Prowers', 'Rio Blanco',
       'Routt', 'San Miguel', 'Washington', 'Weld', 'Yuma', 'Comanche',
       'Ellsworth', 'Finney', 'Grant', 'Hamilton', 'Kearny', 'Meade',
       'Morton', 'Seward', 'Stanton', 'Stevens', 'Clay', 'Floyd',
       'Lawrence', 'Leslie', 'Letcher', 'Mccreary', 'Morgan', 'Pike',
       'Whitley', 'Beauregard', 'Bienville', 'Bossier', 'Caddo',
       'Caldwell', 'Claiborne', 'De Soto', 'Lincoln', 'Morehouse',
       'Ouachita', 'Plaquemines', 'Rapides', 'Red River', 'Sabine',
       'St. Martin', 'Union', 'Vermilion', 'Vernon', 'W Delta', 'Webster',
       'Winn', 'Antrim', 'Clare', 'Grand Traverse', 'Kalkaska',
       'Montmorency', 'Oscoda', 'Roscommon', 'Chickasaw', 'Covington',
       'Forrest', 'Jasper', 'Jefferson Davis', 'Jones', 'Lowndes',
       'Monroe', 'Pearl River', 'Big Horn', 'Blaine', 'Carbon',
       'Chouteau', 'Custer', 'Fallon', 'Fergus', 'Glacier', 'Hill',
       'Liberty', 'Pondera', 'Roosevelt', 'Sheridan', 'Toole', 'Valley',
       'Wibaux', 'Billings', 'Bowman', 'Burke', 'Divide', 'Dunn',
       'Golden Valley', 'Mckenzie', 'Mountrail', 'Stark', 'Williams',
       'Chaves', 'Colfax', 'Eddy', 'Lea', 'Mckinley', 'Rio Arriba',
       'San Juan', 'Sandoval', 'Chautauqua', 'Chemung', 'Seneca',
       'Athens', 'Mahoning', 'Portage', 'Trumbull', 'Alfalfa', 'Atoka',
       'Beaver', 'Beckham', 'Canadian', 'Coal', 'Dewey', 'Ellis', 'Grady',
       'Harper', 'Haskell', 'Hughes', 'Kingfisher', 'Latimer', 'Le Flore',
       'Major', 'Mcintosh', 'Payne', 'Pittsburg', 'Roger Mills',
       'Sequoyah', 'Texas', 'Washita', 'Woods', 'Woodward', 'Bradford',
       'Indiana', 'Westmoreland', 'Harding', 'Burleson', 'Denton',
       'Freestone', 'Galveston', 'Grayson', 'Hemphill', 'Hidalgo',
       'Houston', 'Jackson', 'Lee', 'Live Oak', 'Mcmullen', 'Montague',
       'Montgomery', 'Nacogdoches', 'Nueces', 'Ochiltree', 'Parker',
       'San Augustine', 'San Jacinto', 'Shelby', 'Starr', 'Tarrant',
       'Taylor', 'Wheeler', 'Wise', 'Zapata', 'Daggett', 'Duchesne',
       'Emery', 'Grand', 'Summit', 'Uintah', 'Dickenson', 'Mingo',
       'Pendleton', 'Preston', 'Randolph', 'Tucker', 'Wyoming', 'Albany',
       'Campbell', 'Converse', 'Crook', 'Fremont', 'Hot Springs',
       'Natrona', 'Niobrara', 'Park', 'Sublette', 'Sweetwater', 'Uinta',
       'Washakie', 'Weston', 'Quay', 'Richland', 'Stillwater', 'Licking',
       'Choctaw', 'Conecuh', 'Escambia', 'Lamar', 'Mobile', 'Fresno',
       'Kings', 'Monterey', 'San Luis Obispo', 'Adams', 'Arapahoe',
       'Kit Carson', 'Larimer', 'Clinton', 'Gove', 'Lane', 'Trego',
       'Henderson', 'Concordia', 'East Baton Rouge', 'S Pass', 'Calhoun',
       'Clarke', 'Perry', 'Smith', 'Wayne', 'Wilkinson', 'Carter',
       'Dawson', 'Musselshell', 'Petroleum', 'Powder River', 'Prairie',
       'Rosebud', 'Bottineau', 'Renville', 'Slope', 'Dundy', 'Harlan',
       'Hitchcock', 'Kimball', 'Red Willow', 'Eureka', 'Nye', 'Hocking',
       'Muskingum', 'Garvin', 'Oklahoma', 'Tillman', 'Forest',
       'Fall River', 'Bowie', 'Gray', 'Karnes', 'Wilson', 'Salt Lake',
       'Sevier', 'Laramie', 'Mobile Offshore', 'Columbia', 'Alcona',
       'Otsego', 'Greer', 'Harrison', 'Utah', 'Baldwin', 'Scott',
       'Allegan', 'Sanpete', 'Fayette', 'Elko', 'Cameron', 'Yellowstone',
       'Harrison Bay', 'San Benito', 'Payette', 'Brazoria', 'Mcclain',
       'Mclean', 'Walker', 'Kenai (Pre)', 'Goshen', 'Cleveland', 'Rogers'],
      dtype=object)

In [40]:
df_county['County'].value_counts()

County
Eddy           9526
Lea            8674
San Juan       8470
Carbon         8354
Garfield       6990
               ...
Rogers           40
Caldwell         26
Chemung          20
Yellowstone      18
Taylor           14
Name: count, Length: 318, dtype: int64

In [41]:
df_county['County'].isna().sum()

np.int64(16630)

In [42]:
df_county.loc[(df_county['Land Category'] == 'Offshore') & (df_county['County'].isna()), 'County'] = 'Offshore'
df_county.loc[(df_county['Land Class'] == 'Native American') & (df_county['County'].isna()), 'County'] = 'Native American'

In [43]:
df_county['County'].isna().sum()

np.int64(0)

### Cleaning 'FIPS Code'

In [44]:
df_fips = df_county.copy()

,Production Date,Land Class,Land Category,State,County,FIPS Code,Offshore Region,Commodity,Disposition Code,Disposition Description,Volume
0,2015-01-01,Federal,Offshore,Offshore,Offshore,NaN,Offshore Alaska,Gas (Mcf),1,Sales-Royalty Due-MEASURED,0
1,2015-01-01,Federal,Offshore,Offshore,Offshore,NaN,Offshore Gulf,Gas (Mcf),1,Sales-Royalty Due-MEASURED,"14,508,756"
2,2015-01-01,Federal,Offshore,Offshore,Offshore,NaN,Offshore Pacific,Gas (Mcf),1,Sales-Royalty Due-MEASURED,"1,207,520"
3,2015-01-01,Federal,Offshore,Offshore,Offshore,NaN,Offshore Gulf,Gas (Mcf),4,Sales-Royalty Due-Not Measured,"487,324"
4,2015-01-01,Federal,Offshore,Offshore,Offshore,NaN,Offshore Pacific,Gas (Mcf),4,Sales-Royalty Due-Not Measured,"114,808"
...,...,...,...,...,...,...,...,...,...,...,...
470825,2025-05-01,Native American,Onshore,Native American,Native American,NaN,NaN,Oil (bbl),62,Vented Gas Well Gas - Royalty Not Due,0
470826,2025-05-01,Native American,Onshore,Native American,Native American,NaN,NaN,Oil (bbl),66,Flared Oil Well Gas - Royalty Due,0
470827,2025-05-01,Native American,Onshore,Native American,Native American,NaN,NaN,Oil (bbl),67,Flared Gas Well Gas - Royalty Due,0
470828,2025-05-01,Native American,Onshore,Native American,Native American,NaN,NaN,Oil (bbl),68,Vented Oil Well Gas - Royalty Due,0
470829,2025-05-01,Native American,Onshore,Native American,Native American,NaN,NaN,Oil (bbl),69,Vented Gas Well Gas - Royalty Due,0

In [45]:
df_fips['FIPS Code'].unique()

array([   nan,  2122.,  1125.,  5023.,  5029.,  5033.,  5045.,  5047.,
        5071.,  5083.,  5115.,  5131.,  5135.,  5141.,  5145.,  5149.,
        6013.,  6021.,  6029.,  6037.,  6067.,  6077.,  6083.,  6095.,
        6111.,  8007.,  8009.,  8011.,  8014.,  8017.,  8029.,  8033.,
        8045.,  8051.,  8055.,  8061.,  8067.,  8071.,  8077.,  8081.,
        8083.,  8095.,  8099.,  8103.,  8107.,  8113.,  8121.,  8123.,
        8125., 20033., 20053., 20055., 20067., 20075., 20093., 20119.,
       20129., 20175., 20187., 20189., 21051., 21071., 21115., 21127.,
       21131., 21133., 21147., 21175., 21195., 21235., 22011., 22013.,
       22015., 22017., 22021., 22027., 22031., 22061., 22067., 22073.,
       22075., 22079., 22081., 22085., 22099., 22111., 22113., 22115.,
       22719., 22119., 22127., 26009., 26035., 26039., 26055., 26079.,
       26119., 26135., 26143., 28017., 28031., 28035., 28061., 28065.,
       28067., 28087., 28095., 28109., 30003., 30005., 30009., 30015.,
       30017., 30025., 30027., 30035., 30041., 30051., 30071., 30073.,
       30085., 30091., 30101., 30105., 30109., 38007., 38011., 38013.,
       38023., 38025., 38033., 38053., 38061., 38089., 38105., 35005.,
       35007., 35015., 35025., 35031., 35039., 35041., 35045., 35043.,
       36013., 36015., 36099., 39009., 39099., 39111., 39133., 39151.,
       39155., 39167., 40003., 40005., 40007., 40009., 40011., 40015.,
       40017., 40029., 40039., 40043., 40045., 40047., 40051., 40053.,
       40059., 40061., 40063., 40073., 40077., 40079., 40093., 40091.,
       40119., 40121., 40129., 40135., 40139., 40149., 40151., 40153.,
       42015., 42063., 42129., 46063., 48051., 48121., 48161., 48167.,
       48181., 48211., 48215., 48217., 48225., 48239., 48251., 48287.,
       48297., 48311., 48337., 48339., 48347., 48355., 48357., 48367.,
       48403., 48405., 48407., 48419., 48427., 48439., 48441., 48477.,
       48483., 48497., 48505., 49007., 49009., 49013., 49015., 49019.,
       49037., 49043., 49047., 49053., 51051., 51195., 54059., 54071.,
       54077., 54083., 54093., 54109., 56001., 56003., 56005., 56007.,
       56009., 56011., 56013., 56017., 56019., 56023., 56025., 56027.,
       56029., 56033., 56035., 56037., 56041., 56043., 56045., 35021.,
       35037., 35059., 30083., 30095., 39089.,  1023.,  1035.,  1039.,
        1053.,  1075.,  1097.,  6019.,  6031.,  6053.,  6079.,  8001.,
        8005.,  8043.,  8057.,  8063.,  8069.,  8075.,  8087., 17027.,
       17055., 20063., 20081., 20101., 20195., 21101., 22029., 22033.,
       22043., 22721., 26025., 26075., 28001., 28023., 28037., 28073.,
       28111., 28129., 28153., 28157., 30011., 30021., 30033., 30065.,
       30069., 30075., 30079., 30087., 38009., 38075., 38087., 31033.,
       31057., 31083., 31087., 31105., 31145., 32011., 32023., 39073.,
       39119., 39127., 40031., 40049., 40081., 40109., 40141., 42053.,
       46047., 48037., 48179., 48255., 48493., 49017., 49035., 49041.,
       56021.,  5027., 26001., 26137., 40055., 48203., 49049.,  1003.,
        5127., 26005., 49039., 28077., 48149., 32007., 22023., 30111.,
        2185.,  6069., 17051., 16075., 39087., 48039., 40087., 38055.,
       48471., 56015., 40027., 40131.])

In [46]:
df_fips['FIPS Code'].isna().sum()

np.int64(16630)

In [49]:
df_fips.loc[df_fips['FIPS Code'].isna(), 'FIPS Code'] = 0

# Alternatively
#df_fips['FIPS Code'] = df_fips['FIPS Code'].fillna(0)

In [50]:
df_fips['FIPS Code'].isna().sum()

np.int64(0)

### Cleaning 'Offshore Region'

In [51]:
df_offshoregion = df_fips.copy()

,Production Date,Land Class,Land Category,State,County,FIPS Code,Offshore Region,Commodity,Disposition Code,Disposition Description,Volume
0,2015-01-01,Federal,Offshore,Offshore,Offshore,Offshore,Offshore Alaska,Gas (Mcf),1,Sales-Royalty Due-MEASURED,0
1,2015-01-01,Federal,Offshore,Offshore,Offshore,Offshore,Offshore Gulf,Gas (Mcf),1,Sales-Royalty Due-MEASURED,"14,508,756"
2,2015-01-01,Federal,Offshore,Offshore,Offshore,Offshore,Offshore Pacific,Gas (Mcf),1,Sales-Royalty Due-MEASURED,"1,207,520"
3,2015-01-01,Federal,Offshore,Offshore,Offshore,Offshore,Offshore Gulf,Gas (Mcf),4,Sales-Royalty Due-Not Measured,"487,324"
4,2015-01-01,Federal,Offshore,Offshore,Offshore,Offshore,Offshore Pacific,Gas (Mcf),4,Sales-Royalty Due-Not Measured,"114,808"
...,...,...,...,...,...,...,...,...,...,...,...
470825,2025-05-01,Native American,Onshore,Native American,Native American,Native American,NaN,Oil (bbl),62,Vented Gas Well Gas - Royalty Not Due,0
470826,2025-05-01,Native American,Onshore,Native American,Native American,Native American,NaN,Oil (bbl),66,Flared Oil Well Gas - Royalty Due,0
470827,2025-05-01,Native American,Onshore,Native American,Native American,Native American,NaN,Oil (bbl),67,Flared Gas Well Gas - Royalty Due,0
470828,2025-05-01,Native American,Onshore,Native American,Native American,Native American,NaN,Oil (bbl),68,Vented Oil Well Gas - Royalty Due,0
470829,2025-05-01,Native American,Onshore,Native American,Native American,Native American,NaN,Oil (bbl),69,Vented Gas Well Gas - Royalty Due,0

In [52]:
df_offshoregion['Offshore Region'].unique()

array(['Offshore Alaska', 'Offshore Gulf', 'Offshore Pacific', nan],
      dtype=object)

In [53]:
df_offshoregion['Offshore Region'].value_counts()

Offshore Region
Offshore Gulf       5672
Offshore Pacific    2570
Offshore Alaska     1954
Name: count, dtype: int64

In [54]:
df_offshoregion['Offshore Region'].isna().sum()

np.int64(460634)

In [55]:
df_offshoregion['Land Category'].value_counts()

Land Category
Onshore     460634
Offshore     10196
Name: count, dtype: int64

In [56]:
df_offshoregion.loc[df_offshoregion['Offshore Region'].isna() , 'Offshore Region'] = 'Onshore'

In [57]:
df_offshoregion['Offshore Region'].isna().sum()

np.int64(0)

### Cleaning 'Commodity', 'Disposition Code', 'Disposition Description', 'Volume'

In [63]:
df_offshoregion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 470830 entries, 0 to 470829
Data columns (total 11 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Production Date          470830 non-null  datetime64[ns]
 1   Land Class               470830 non-null  object
 2   Land Category            470830 non-null  object
 3   State                    470830 non-null  object
 4   County                   470830 non-null  object
 5   FIPS Code                470830 non-null  object
 6   Offshore Region          470830 non-null  object
 7   Commodity                470830 non-null  object
 8   Disposition Code         470830 non-null  int64
 9   Disposition Description  470830 non-null  object
 10  Volume                   470830 non-null  object
dtypes: datetime64[ns](1), int64(1), object(9)
memory usage: 39.5+ MB

In [64]:
df_cleaned = df_offshoregion.copy()

In [65]:
df_cleaned['Volume'] = df_cleaned['Volume'].replace({',':''}, regex=True).astype(float)

In [66]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 470830 entries, 0 to 470829
Data columns (total 11 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Production Date          470830 non-null  datetime64[ns]
 1   Land Class               470830 non-null  object
 2   Land Category            470830 non-null  object
 3   State                    470830 non-null  object
 4   County                   470830 non-null  object
 5   FIPS Code                470830 non-null  object
 6   Offshore Region          470830 non-null  object
 7   Commodity                470830 non-null  object
 8   Disposition Code         470830 non-null  int64
 9   Disposition Description  470830 non-null  object
 10  Volume                   470830 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(8)
memory usage: 39.5+ MB

In [68]:
df_cleaned.to_csv('Cleaned_Data.csv', index=False)